<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>单选题</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/admin-main.css" type="text/css">
</head>
<body>
<!--侧边栏-->
<!--<div class="list" >-->
<!--    <nav class="shell">-->
<!--        <div>-->
<!--            <img src="img/logo.png" style="width: 90%;height: 80px;margin-bottom: -50px;border-radius: 20px ;margin-left: 10px">-->
<!--        </div>-->
<!--        <ul class="buttons">-->
<!--            <li class="li-admin">-->
<!--                <span>欢迎您！管理员</span>-->
<!--            </li>-->
<!--            <br>-->
<!--            <li class="li">-->
<!--                <a th:href="@{toAdmin}" class="a-return">首页</a>-->
<!--            </li>-->
<!--            <li class="li">-->
<!--                题目管理-->
<!--                <ul>-->
<!--                    <li ><a th:href="@{findSingle}">单选题</a></li>-->
<!--                    <li><a th:href="@{findMultiple}">多选题</a></li>-->
<!--                    <li>填空题</li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="li">-->
<!--                试卷管理-->
<!--                <ul>-->
<!--                    <li>试卷编辑</li>-->
<!--                    <li>发布考试</li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="li">-->
<!--                <a href="index.html" class="a-return">学生管理</a>-->
<!--            </li>-->
<!--            <li class="li">-->
<!--                <a href="index.html" class="a-return">成绩管理</a>-->
<!--            </li>-->


<!--            <li class="li">-->
<!--                <a href="admin-update-information.html" class="a-return">修改信息</a>-->
<!--            </li>-->
<!--            <li class="li">-->
<!--                <a href="/reg" class="a-return">退出登录</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</div>-->
<div th:replace="admin::navbar"></div>

<!--右边的内容-->
<div class="w2">
<div class="w1">
<!--    <input type="text" style="margin-left: 10px;border: solid darkred" placeholder="请输入考试编号">-->
    <table class="table table-hover table-bordered">
        <tr>
            <th style="width: 15%;height: 60px">序号</th>
            <th style="width: 60%">题干</th>
            <th >按钮</th>
        </tr>
        <tr th:each="Single,state:${myPage.rows}">

            <td id="index" th:text="(${myPage.current-1})*${myPage.getPageSize()}+${state.index}+1" ></td>
            <td><textarea disabled style="width: 100%" th:text="${Single.singleQuestion}"></textarea></td>
            <td>
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"
                        th:onclick="edit([[${Single.singleId}]])">编辑</button>
                <button class="btn btn-primary btn-lg"
                        th:onclick="deleteSingle([[${Single.singleId}]])">删除</button>
            </td>
        </tr>
        <tr>
            <td>
                当前页数<a th:text="'    '+${myPage.current}"></a><a>/</a><a th:text="${myPage.totalPages}"></a>
            </td>
            <td>
                <button  >
                    <a th:href="@{'findSingle?current='+1}" >首页</a>
                </button >
                <span style="padding-left: 40px"></span>
                <button >
                    <a  th:href="@{'findSingle?current='+${myPage.current-1}}">上一页</a>
                </button>

                <span style="padding-left: 70px"></span>
                <input type="number" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')"  min=1 step =1 style="width:50px;border: solid black"
                       name="current" id="current" th:value="${myPage.current}">
                <button type="submit" th:onclick="skipTo()" >跳转到</button>

                <span style="padding-left: 70px"></span>
                <button>
                    <a  th:href="@{'findSingle?current='+${myPage.current+1}}">下一页</a>
                </button>
                <span style="padding-left: 40px"></span>
                <button>
                    <a  th:href="@{'findSingle?current='+${myPage.totalPages}}">尾页</a>
                </button>

            </td>
            <td>
                <button  class=" btn-primary " data-toggle="modal" data-target="#insertModal" style="height: 25px;width:100%">
                    增加试题
                </button>

            </td>
        </tr>
    </table>
</div>
</div>


<!--bootstrap模态框,编辑-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" >
                    试题详情
                </h4>
            </div>
            <div class="modal-body">
                试题编号：<br><textarea disabled style="height: 30px;width:50px" id="id"></textarea><br>
                题干：<br><textarea style="height:110px;width:300px" id="question"></textarea><br>
                选项A:<br><textarea style="width: 300px" id="A"></textarea><br>
                选项B:<br><textarea style="width: 300px" id="B"></textarea><br>
                选项C:<br><textarea style="width: 300px" id="C"></textarea><br>
                选项D:<br><textarea style="width: 300px" id="D"></textarea><br>
                参考答案:<br><textarea style="width: 100px;height: 35px" id="answer"></textarea><br>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" th:onclick="save()">
                    提交更改
                </button>
            </div>
        </div>
    </div>
</div>

<!--bootstrap模态框，添加-->
<div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" >
                    添加试题
                </h4>
            </div>
            <div class="modal-body">
<!--                试题编号：<br><textarea disabled style="height: 30px;width:50px" id="insertId"></textarea><br>-->
                题干:<br><textarea style="height:110px;width:300px" id="insertQuestion"></textarea><br>
                选项A:<br><textarea style="width: 300px" id="insertA"></textarea><br>
                选项B:<br><textarea style="width: 300px" id="insertB"></textarea><br>
                选项C:<br><textarea style="width: 300px" id="insertC"></textarea><br>
                选项D:<br><textarea style="width: 300px" id="insertD"></textarea><br>
                参考答案:<br>
<!--                <textarea style="width: 100px;height: 35px" id="insertAnswer"></textarea><br>-->
                <select id="insertAnswer">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" th:onclick="insertSingle()">
                    提交试题
                </button>
            </div>

        </div>
    </div>
</div>
</body>

<!--用于单选题编辑修改删除的js-->
<script th:inline="javascript">
    function edit(id){
        $.ajax({
            url:"/findSingleById?id="+id,
            type:"get",
            dataType:"json",
            success:function (Single){
                $("#id").val(Single.singleId);
                $("#question").val(Single.singleQuestion);
                $("#A").val(Single.singleA);
                $("#B").val(Single.singleB);
                $("#C").val(Single.singleC);
                $("#D").val(Single.singleD);
                $("#answer").val(Single.singleAnswer);
            }

        })
    }
    function save(){
        var id = $("#id").val();
        var question = $("#question").val();
        var A = $("#A").val();
        var B = $("#B").val();
        var C = $("#C").val();
        var D = $("#D").val();
        var answer=$("#answer").val();
        var index =[[${myPage.current}]];
        $.ajax({
            url:"/updateSingle/",
            type:"post",
            data:{"singleId":id,"singleQuestion":question,"singleA":A,"singleB":B,"singleC":C,"singleD":D,"singleAnswer":answer},
            success:function (a){
                if (a==1){
                    alert("修改成功");
                }else{
                    alert("修改失败");
                }
                window.location.href="/findSingle?current="+index;
            }
        })
    }
    function deleteSingle(singleId){
        var index =[[${myPage.current}]];
        if(window.confirm("确定删除吗？")){
            $.ajax({
                url:"/deleteSingle?singleId="+singleId,
                type:"get",
                dataType:"json",
                success:function (flag){
                    //alert(666)
                    if(flag==-1)
                    {
                        window.location.href="/findSingle?current="+index;
                    }
                    else
                    {
                        alert("这个题被id为"+flag+"的试卷使用请先删除这张试卷")
                    }

                }
            })
        }
    }
    function skipTo(){
        var current = $("#current").val();
        window.location.href="/findSingle?current="+current;
    }
    function insertSingle(){
        var insertQuestion = $("#insertQuestion").val();
        var insertA = $("#insertA").val();
        var insertB = $("#insertB").val();
        var insertC = $("#insertC").val();
        var insertD = $("#insertD").val();
        var insertAnswer=$("#insertAnswer").val();
        var index = [[${myPage.current}]];
        $.ajax({
            url:"/insertSingle/",
            type:"post",
            data:{"singleQuestion":insertQuestion,"singleA":insertA,"singleB":insertB,"singleC":insertC,"singleD":insertD,"singleAnswer":insertAnswer},
            success:function (a){
                if (a!=0){
                    alert("添加成功");
                }
                window.location.href="/findSingle?current="+index;
        }})
    }
</script>

</html>